<!-- Memecah isi file contact ke tiap-tiap bagian dari folder layouts-->

<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Contact</h2>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">No HP</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length === 0 ) { %>
          <tr>
            <!-- colspan karena jumlah td dibawah ada 3, maka jika lebih dari 3 akan mengisi penuh tabel -->
            <td colspan="4">
              <div class="alert alert-danger fw-bold" role="alert">Data contact belum terdaftar</div>
            </td>
          </tr>
          <% }%>
          <!-- Tidak perlu menggunakan else karena jika forEach kosong maka tidak menjalankan apa apa -->

          <!-- mengulangi isi dari setiap object pada contacts di app.js -->
          <% contacts.forEach((contact, i) => { i++ %>
          <tr>
            <th scope="row"><%= i++ %></th>
            <!-- contact, Mengambil argument dari pengulangan contacts dari app.js -->
            <td><%= contact.nama %></td>
            <td><%= contact.nohp %></td>
            <td>
              <a href="/contact/<%= contact.nama %> " class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> detail</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
