<div class="container">
  <div class="row">
    <div class="col mt-4">
      <h2 class="mb-4">Added Contact Form</h2>

      <!-- TODO: Jika isi dari var error bukan undefined / ada isinya, maka akan masuk ke pengkondisian. -->
      <% if(typeof errors != 'undefined') {%>
      <div class="alert alert-danger" role="alert">
        <ul>
          <h3>Errors :</h3>
          <!-- * Melakukan pengulangan li, karena errornya tidak menentu. maka dilakukan pengulangan forEach dan var errors itu bertipe data array. -->
          <!-- ! var errors akan melakukan pengulangan sesuai isi dari urutan index array -->
          <% errors.forEach(error => { %>
          <!-- * Melakukan pengulangan sesuai dengan isi dari object error.msg .-->
          <li><%= error.msg %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>

      <form method="post" action="/contact">
        <div class="mb-3">
          <label for="nama" class="form-label">Nama</label>
          <input type="text" class="form-control" id="nama" name="nama" required />
        </div>
        <div class="mb-3">
          <label for="nohp" class="form-label">Num Phone</label>
          <input type="number" class="form-control" id="nohp" name="nohp" required />
        </div>
        <div class="mb-5">
          <label for="nama" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
