<!-- Memecah isi file about ke tiap-tiap bagian dari folder layouts -->

<div class="container">
  <div class="row">
    <div class="col text-center">
      <!-- tidak perlu menulis folder public, karena mulainya dari folder public -->
      <img src="img/profile.png" alt="profile" width="200" />
      <h1 class="display4">Descx</h1>
      <p class="lead">Programer | Web Dev</p>
    </div>
  </div>
</div>
