<!-- My CSS -->
<style>
  h1 {
    margin: 5px 15px;
  }
  p {
    margin: 10px 20px;
    font-size: 1.2em;
  }
  a {
    text-decoration: none;
    color: #000;
    margin: 10px 20px;
  }
  a:hover {
    color: #0d6efd;
  }
</style>

<!-- adalah untuk mengambil output dari variable nama  -->
<h2>Halo <%= nama %></h2>

<h4>Daftar Mahasiswa</h4>

<!-- 1. Melakukan Control Flow pada ejs -->

<!-- 1.2 Melakukan pengulangan pada object mahasiswa -->
<% if (mahasiswa.length < 1) { %>
<p>Data Mahasiswa masih kosong!</p>
<% } else { %>

<!-- 1.3 Melakukan pengulangan forEach pada object mahasiswa -->
<% mahasiswa.forEach(mhs => { %>
<ul>
  <!-- Mengisi li dengan object dari mahasiswa -->
  <li>Nama: <%= mhs.nama %></li>
  <li>Umur: <%= mhs.umur %></li>
</ul>

<% }) %> <% } %>
