* {
  margin: 0;
  padding: 0;
}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 100px auto;
  transition: 0.3s width, 0.3s height 0.3s, 0.3s margin-top 0.3s, 1s background-color;
}
.size {
  width: 150px;
  height: 150px;
  margin-top: 25px;
}
.caption {
  background-color: black;
}
