<div class="container mt-3">
  <div class="row">
    <div class="col md-8">
      <h2>Detail Contact</h2>

      <!-- !contact artinya array itu tidak ada / array yang masuk kedalam kondisi tidak ada di dalam array contact. -->
      <% if (!contact) { %>
      <div class="alert alert-danger fw-bold" role="alert">
        Data contact tidak ada <br />
        <a href="/contact" class="alert-link fw-normal">&laquo; Kembali</a>.
      </div>
      <% } else {%>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <!-- Disini contact diambil dari contact app.js yang sudah dirender ke detail.ejs -->
          <h5 class="card-title"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= contact.nohp %></h6>
          <p class="card-text"><%= contact.email %></p>
          <!-- &laquo; untuk memberikan icon arrow -->
          <a href="/contact" class="card-link">&laquo; Kembali</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
